
<%= @avg_month_prices %>
<br>
<br>
<div id="parent"><table><%= high_chart("chart", @states_chart) %></table></div>
<br>
<br>
<div id="parent"><table><%= high_chart("prices", @prices_chart) %></table></div>
<br>
<br>
<div id="parent"><table><%= high_chart("chart4", @chart4) %></table></div>
