
<%# @region_array %>
<br>
<br>
<div id="parent"><table><%= high_chart("chart", @states_chart) %></table></div>
<br>
<br>
<div id="parent"><table><%= high_chart("chart3", @chart3) %></table></div>
<br>
<br>
<div id="parent"><table><%= high_chart("prices", @prices_chart) %></table></div>
<br>
<br>
<div id="parent"><table><%= high_chart("chart4", @chart4) %></table></div>
