<table>
	<tr>
		<th>Following</th>
	</tr>
	<% for friendship in @user.friendships %>
      <tr class="<%= cycle('odd', 'even') %>">
		  <td>
      		  <%= link_to friendship.friend.name, friendship.friend, :via => :get %> 
		  </td>
  	  </tr>
    <% end %>	
</table>
<br>
<table>
	<tr>
		<th>Followed by</th>
	</tr>
	<% for user in @user.inverse_friends %>
		<tr class="<%= cycle('odd', 'even') %>">
		  <td>
			  <%= link_to user.name, user, :via => :get %>
		  </td>
		</tr>
	<% end %>
</table>
