<table>
	<tr>
		<th>Following</th>
	</tr>
	<% for followee in @user.followees(User) %>
      <tr class="<%= cycle('odd', 'even') %>">
		  <td>
      		  <%= link_to followee.name, followee, :via => :get %> 
		  </td>
  	  </tr>
    <% end %>	
</table>
<br>
<table>
	<tr>
		<th>Followers</th>
	</tr>
	<% for follower in @user.followers(User) %>
      <tr class="<%= cycle('odd', 'even') %>">
		  <td>
      		  <%= link_to follower.name, follower, :via => :get %> 
		  </td>
  	  </tr>
    <% end %>
</table>
