<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.name %></strong>
	  
      <%= link_to "Follow", user_follow_path(:user_id => user.id), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>
