<div id="wrapper">
	<div id="leftcolumnwrap">
        <div id="leftcolumn">
			<div id="user_image_div">
				<table id="user_image_table">
					<tr class="odd">
						<td>
							<%= image_tag @user.largeimage %>
							<br><h3><%= current_user.name.titleize %></h3><br>
						</td>
					</tr>
				</table>
			</div>
        </div>
	</div>
    <div id="contentwrap">
        <div id="user_content">
			<table>
				<%= render "users/form" %>
			</table>
			<br>
			<table>
				 <%= render "users/posts" %>
			</table>
        </div>
    </div>
</div>

