  <table class="listing" summary="Strains list">
      <tr class="header">
        <th class="center" colspan="1">Name</th>
        <th class="center" colspan="1">Pictures</th>
      </tr>
      <td><%= @search_results %></td>
      <td></td>

    </tbody>
  </table>
  
