
<div class="strain index" align="center">
  <div id="background">

          <%= render 'search_form' %>

  </div>
</div>

<br><br>
 


   <img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">