<p id="notice"><%= notice %></p>
<div class="strain index" align="center">
  <div id="background">
    <table>
      <tr>
        <td>
          <%= render 'search_form' %>
        </td>
      </tr>
    </table>
  </div>
</div>

<br><br>
 


   <img src="https://developer.leafly.com/images/assets/pbl-white.png" align="right">