/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
*/


html { height: 100%; width: 100%; }
body { width: 100%; min-width: 320px; height: 100%; margin: 0; padding: 0; 
  font: 14px Arial, 'Helvetica Neue', Helvetica, sans-serif; }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }
img#full { border: none; width: 100%; height: auto
    }
img#half { border: none; width: 72%; height: auto
    }

table { border: 1px solid #5d8032; vertical-align: center; width: 100%; border-radius: 10px; background: #B6D491 }

table#container { vertical-align: top; border-radius: 10px; border-collapse: collapse; }


table tr th, table tr td { vertical-align: center; text-align: center; border-radius: 10px;
  padding: 5px; font-size: 14px; }
a, a:visited { color: black; }
a:hover {}

.clear { clear: both; background: #f6faf1; border: 0 }
.center { text-align: center; vertical-align: middle;  }
.wide { width: 100%; text-align: center; }



/* Structure */
#header { 
  height: 5em; padding-top: 1em; text-align: center;
  background: #edf4e4 }
#header h1 { margin: 0; padding: 0; color: #B6D491; text-shadow: 2px 2px darkgray }
#main { min-height: 500px; background: #f6faf1; }
#navigation { float: left; width: 140px; min-height: 480px; padding: 10px; 
  background: #94B26F; color: #4C2516; }
#content { padding: 10px; float: center }
#footer { clear: both; height: 2.5em; text-align: right;
  background: #B6D491; color: white; }
#footer p { margin: 0; padding: 0.5em 1em; }

/* Navigation */
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation ul li { margin-bottom: 0.5em; }
#navigation ul ul { margin: 0.5em 0 0 1em; font-size: 0.9em; }
#navigation a { text-decoration: none; padding: 1px 3px;}
#navigation a:hover { background: white; }

/* Content */
#content h2 { color: #f6faf1; text-shadow: 2px 2px darkgray }

/* tables */


/* box shadow */
div#parent{
-moz-box-shadow:10px 10px 10px darkgray;
-webkit-box-shadow:10px 10px 10px darkgray;
box-shadow:10px 10px 10px darkgray;
display: inline-block;
border-radius: 25px;
width: 100%;
}

div#background{
-moz-box-shadow:10px 10px 10px darkgray;
-webkit-box-shadow:10px 10px 10px darkgray;
box-shadow:10px 10px 10px darkgray;
display: inline-block;
border-collapse: collapse;
border-radius: 25px;
width: 100%;
}

div#parent2{
-moz-box-shadow:10px 10px 10px darkgray;
-webkit-box-shadow:10px 10px 10px darkgray;
box-shadow:10px 10px 10px darkgray;
border-radius: 25px;
}

div#shadow{
  
 filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='14');
-msfilter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='14');
left:784;
top:385;
}