<h2>Listing Prices for <%= @strain %></h2>

<ul>
	<% @prices.each do |price| %>
	<li><%= price.cost %> in <%= link_to price.region, price.region %></li>
	<% end %>
</ul>

<%= link_to 'Home', prices_path %>